.body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: antiquewhite;
  background-image: url("./background1.png");
}

.body-private {
  /* background-color: rgb(193, 233, 219); */
  background-image: url("./background2.jpg");
  background-size: 100% 100%;
}

.container {
  padding: 2rem 0rem;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}
.form-title {
  margin: -2rem 0rem 2rem;
}
.btn-round {
  border-radius: 3rem;
}
.delimiter {
  padding: 1rem;
}
.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}
.signup-section {
  padding: 0.3rem 0rem;
}

.modal-content {
  animation: fadeIn linear 0.2s;
  animation: growth linear 0.2s;
  border-radius: 8px;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
